/* Centering the container */
.password-reset-container {
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #eef8ff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
  }
  
  /* Box Content Styling */
  .password-reset-box p {
    font-size: 16px;
    color: #2c2c2c;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Confirm Button */
  .password-reset-box button {
    font-family: 'Yeseva One', cursive;
    width: 100%;
    padding: 12px;
    background-color: #1565C0;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .password-reset-box button:hover {
    background-color: #00408d;
  }
  