/* CustomerComplaintForm.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9f9f9;
    padding: 20px;
  }

.firstbox{
 height: 1100px;
 border: black solid 2px;
}
.form-wrapper {
    background: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    width: 100%;
    border: 1px solid #ddd;
}
  .heading{
    text-align: left;
    font-size: 20px;
    font-weight: semi bold;
    color: #003366;
    margin-bottom: 10px;
    height: 35px;
    border: 2px solid #003366;
    padding-top: 7px;
    padding-left: 5px;
    background-color: #EDFAFF;
  }
  .form-title {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #003366;
    margin-bottom: 10px;
    height: 100px;
    border: 2px solid #003366;
    padding-top: 35px;
    background-color: #EDFAFF;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    text-align: left;
  }
  
  .input-group label {
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 25px;
    color:#003366 ;
    text-align: left;
  }
  
  .input-group input {
    padding: 8px;
    border: 1px solid #545454;
    border-radius: 5px; 
    width:500px;
    margin-left: 25px;
  }
  .guidelines-box {
    border: 1px solid #000;
    background-color: #EDFAFF;
    padding: 15px;
    margin: 10px 0;
    
  }
  
  .guidelines-box h3 {
    margin: 0;
    padding-bottom: 10px;
    text-align: left;
    color:#003366 ;
  }
  
  .guidelines-box ol {
    margin: 0;
    padding-left: 20px;
  }
  
  .guidelines-box li {
    margin-bottom: 8px;
    text-align: left;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .buttons button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
  }
  
  .save-btn { 
    background-color: #1565C0;
    height: 35px;
    width: 70px;

   }
  .submit-btn { background-color: #1565C0; }
  .cancel-btn { background-color: #1565C0; }
  
  .save-btn:hover { background-color: #0056b3; }
  .submit-btn:hover { background-color:#1565C0; }
  .cancel-btn:hover { background-color: #1565C0; }
  