/* CustomerComplaintForm.css */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250vh;
    background-color: #f9f9f9;
    padding: 20px;
    background-image:linear-gradient(#EDFAFF,#ffffff);
    min-width: 1500px;
  }

.firstbox{
 height: 1200px;
 border: black solid 2px;
 width:600px;
}
.wrapper {
    background: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 800px;
    width: 100%;
    border: 1px solid #ddd;
    margin-top: 750px; 
    flex-direction: column;
    align-items: center;
    text-align: center;
}
  .heading{
    text-align: left;
    font-size: 20px;
    font-weight: semi bold;
    color: #003366;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 35px;
    width:600px;
    border: 2px solid #003366;
    padding-top: 5px;
    background-color: #EDFAFF;
    
  }
  .form-title {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #003366;
    margin-bottom: 0px;
    width:600px;
    height: 100px;
    border: 2px solid #003366;
    padding-top: 35px;
    background-color: #EDFAFF;
  
  }
    
  
  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    text-align: left;
    
  }
  .input-group h3{
    text-align: left;
    font-size: 20px;
    font-weight: semi bold;
    color: #003366;
    margin-top: 10px;
    height: 35px;
    border: 2px solid #003366;
    border-left: none;
    border-right: none;
    padding-top: 5px;
    padding-left: 5px;
    background-color: #EDFAFF;
  }
  .input-group label {
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 25px;
    color:#003366 ;
    text-align: left;
  }
  
  .input-group input {
    padding: 8px;
    border: 1px solid #545454;
    border-radius: 5px; 
    width:500px;
    margin-left: 25px;
    color:#545454;
  }
  .guidelines-box {
    border: 1px solid #000;
    background-color: #EDFAFF;
    padding: 15px;
    margin: 10px 0;
    
  }
  
  .guidelines-box h3 {
    margin: 0;
    padding-bottom: 10px;
    text-align: left;
    color:#003366 ;
    font-size: 20px;
  }
  
  .guidelines-box ol {
    margin: 0;
    padding-left: 20px;
  }
  
  .guidelines-box li {
    /* margin-bottom: 8px; */
    text-align: left;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .buttons button {
    /* padding: 10px 15px; */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
  }
  
  .submit-btn { 
    background-color: #1565C0;
    height: 35px;
    width: 100px;
    margin-left: 100px;
    text-align: center;
    font-size: 18px;
    padding-top: 7px;
   }

  .cancel-btn { 
    background-color: #1565C0;
    height: 35px;
    width: 100px;
    margin-right: 100px;
    text-align: center;
    font-size: 18px;
    padding-top: 7px;
  }
  
  
  .submit-btn:hover {
     background-color:#003366;
     height: 40px;
     width: 120px;
     margin-right: 100px;
     text-align: center;
     font-size: 20px;
     padding-top: 9px;
     border: 1px solid #EDFAFF;
     }
  .cancel-btn:hover { 
    background-color: #003366;
    height: 40px;
    width: 120px;
    margin-right: 100px;
    text-align: center;
    font-size: 20px;
    padding-top: 9px;
    border: 1px solid #EDFAFF;
   }
  