.problem-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .problem-table td {
    border: 1px solid #ccc;
    padding: 8px;

  }
  th:nth-child(1), td:nth-child(1) { /* First column (Label) */
    width: 47%;
}
  .bold-text {
    font-weight: bold;
    text-align: left;
  }
  
  .input-cell input {
    width: 100%;
    padding: 5px;
    border: 1px solid black;
    padding-right: 2px;
  }
  